:root {
  --cor-primaria: #ffffff;
  --font-numeros: "Digital-7", sans-serif;
  --cor-visitante: #b91215;
  --cor-casa: #4c97c8;
  --cor-para-vitoria: black;
  --font-titulo-time: "Karantina", serif;
  --font-numero: "Inter", sans-serif; /* Ajuste para a fonte "Inter" */
}

body {
  background-color: black;
  padding: 0 1em 2em 1em;
}

#rotate-message {
  display: none; /* Inicialmente escondido */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;  /* Certifique-se de que o vídeo fica acima de outros elementos */
}


#rotate-message video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.titulos__placar {
  display: flex;
}

.titulo__time {
  font-family: "Karantina", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5em;
}

.titulo__time.esquerdo {
  color: var(--cor-casa);
  margin: 0.5em 0 0.5em 3.5em;
}

.bola__volei {
  height: 90px;
  width: 90px;
  margin-left: 10em;
}

.titulo__time.direito {
  color: var(--cor-visitante);
  margin: 0.5em 0 0.5em 2.6em;
}

.main {
  display: flex;
  justify-content: space-around;
}

.botoes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.botoes__mais_e_menos {
  height: 45px;
  width: 45px;
}

.placar {
  align-content: center;
  text-align: center;
  height: 11em;
  width: 14em;
  border-radius: 10px;
  padding: 1em;
}

.placar.time_azul {
  background-color: var(--cor-casa);
}

.numero_placar {
  font-family: var(--font-numeros);
  font-size: 150px;
  color: var(--cor-primaria);
}

.placar.time_vermelho {
  background-color: var(--cor-visitante);
}

/* Bola para o lado direito  */

.titulo__time.bola_direito {
  color: var(--cor-visitante);
  margin: 0.5em 0 0.5em 0.5em;
}

.bola__volei.lado_direito {
  height: 90px;
  width: 90px;
  margin-left: 15.3em;
}

.titulo__time.alinhar_esquerdo_para_direito {
  color: var(--cor-casa);
  margin: 0.5em 0 0.5em 3.5em;
}

/* Bola para o lado esquerdo */
.titulo__time.bola_esquerdo {
  color: var(--cor-casa);
  margin: 0.5em 0 0.5em 3.5em;
}

.bola__volei.lado_esquerdo {
  height: 90px;
  width: 90px;
  margin-left: 2em;
}

.titulo__time.alinhar_direito_para_esquerdo {
  color: var(--cor-visitante);
  margin: 0.5em 0 0.5em 5.8em;
}

/* Bola Branca Para a vitoria time Azul*/

.placar.time_azul.time_azul_branco {
  background-color: var(--cor-primaria);
}

.numero_placar.azul.azul_branco {
  font-family: var(--font-numeros);
  font-size: 150px;
  color: var(--cor-para-vitoria);
}

.titulo__time.esquerdo_branco {
  color: var(--cor-primaria); /* Ajuste para a cor desejada */
  margin: 0.5em 0 0.5em 3.5em; /* Outras propriedades podem ser ajustadas */
}

/* Bola Branca Para a vitoria time Vermelho*/

.placar.time_vermelho.time_vermelho_branco {
  background-color: var(--cor-primaria);
}

.numero_placar.vermelho.vermelho_branco {
  font-family: var(--font-numeros);
  font-size: 150px;
  color: var(--cor-para-vitoria);
}

.titulo__time.direito_branco {
  color: var(--cor-primaria); /* Ajuste para a cor desejada */
  margin: 0.5em 0 0.5em 0.5em; /* Outras propriedades podem ser ajustadas */
}

.fullscreen__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

#fullscreen__button {
  background-color: var(--cor-casa);
  color: var(--cor-primaria);
  font-family: var(--font-titulo-time);
  border: none;
  padding: 0.8em 1.2em;
  font-size: 1em;
  border-radius: 8px;
  cursor: pointer;
  margin: 2em;
}

#fullscreen__button:hover {
  background-color: var(--cor-visitante);
}


/* Layout normal no modo paisagem */
@media (orientation: landscape) {
  #rotate-message {
    display: none;
  }
}


@media (orientation: portrait) {
  #rotate-message {
    display: flex; /* Exibe a mensagem no modo retrato */
  }
}




